<div class="dashboard-top">
  <div class="dashboard-folder">Folder Name</div>
  <button class="fav-btn icon-favorite">
    <!-- <div class="icon-favorite"> -->
    <span class="material-symbols-outlined unclicked"> grade </span>
    <!-- </div> -->
  </button>
  <!-- <div class="table-view">
    <span class="material-symbols-outlined view"> view_list </span>
    <span class="material-symbols-outlined view"> view_stream </span>
    <span class="material-symbols-outlined view"> view_week </span>
  </div> -->
  <button class="filter-btn filter">
    <!-- <div class="filter"> -->
    <span class="material-symbols-outlined"> sort </span>
    <!-- </div> -->
  </button>
  <button data-modal-target="#modal" class="add-btn add-issue">
    <!-- <div class="add-issue"> -->
    <span class="material-symbols-outlined"> add </span>
    <!-- </div> -->
  </button>
  <%- include('_add-ticket') %>
</div>
