
  <body>
    <div class="sidebar">
      <div class="logo_content">
        <div class="logo">
          <div class="logo_name">D-Buggy</div>
        </div>
        <i class="fa-solid fa-bars" id="btn"></i>
      </div>
      <ul class="nav_list">
        <li>
          <i class="fa-solid fa-magnifying-glass"></i>
          <input type="text" placeholder="Search" />
          <span class="tooltip">Search</span>
        </li>
        <li>
          <a href="#">
            <i class="fa-solid fa-chart-line"></i>
            <span class="links_name">Dashboard</span>
          </a>
          <span class="tooltip">Dashboard</span>
        </li>
        <li>
          <a href="#">
            <i class="fa-regular fa-square-plus"></i>
            <span class="links_name">Create Ticket</span>
          </a>
          <span class="tooltip">Create Ticket</span>
        </li>
        <li>
          <a href="#">
            <i class="fa-regular fa-folder-open"></i>
            <span class="links_name">My Tickets</span>
          </a>
          <span class="tooltip">My Tickets</span>
        </li>
        <li>
          <a href="#">
            <i class="fa-regular fa-message"></i>
            <span class="links_name">Chat</span>
          </a>
          <span class="tooltip">Chat</span>
        </li>
        <li>
          <a href="#">
            <i class="fa-solid fa-gear"></i>
            <span class="links_name">Settings</span>
          </a>
          <span class="tooltip">Settings</span>
        </li>
      </ul>
      <div class="profile_content">
        <div class="profile">
          <div class="profile_details">
            <img src="images/gen-profile.png" alt="photo" />
            <div class="name_job">
              <div class="name">User</div>
              <div class="job">Job</div>
            </div>
          </div>

          
          <form action="/logout" method="POST">
          <button class="logout-btn">
          <span class="fa-solid fa-arrow-right-from-bracket" id="log_out">
          </span>
        </button>
      </form>
          

        </div>
      </div>
    </div>
    <!------------------ SIDEBAR END ---------------------->
  </body>
</html>
