<% tickets.forEach(function(ticket) { %>
<li class="issue">
  <div class="date"><%= ticket.date %></div>
  <div class="item">
    <span class="material-symbols-outlined priority">
      signal_cellular_1_bar
    </span>
    <%= ticket.priority %>
    <button class="status-btn">
      <span class="material-symbols-outlined status unchecked">
        radio_button_unchecked
      </span>
    </button>
    <div class="description">
      <h3><%= ticket.title %></h3>
      <p><%= ticket.description %></p>
    </div>
  </div>
</li>
<% }) %>
