<%- include('_head') %>

<div class="login-register-container">
  <h1>Login</h1>
  <% if (messages.error) { %> <%= messages.error %> <% } %>
  <form action="/login" id="login" method="POST">
    <div class="log-div">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" required />
    </div>
    <div class="log-div">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required />
    </div>
    <div class="log-div">
      <button type="submit" class="log-btn">Login</button>
    </div>
  </form>
  <div class="log-div">
    <button type="submit" class="log-btn" onclick="demoLogin()">
      Login as demo user
    </button>
  </div>
  <a href="/register">Register</a>
</div>
<script>
  // const email = document.getElementById("email").innerHTML;
  // console.log(email);
  // form.submit(
  //   sessionStorage.setItem(
  //     "email",
  //     JSON.stringify(getElementById("email").innerHTML)
  //   )
  // );
  //TODO FIX BUG
  // document.getElementById(email).onsubmit = function (event) {
  //   event.preventDefault();

  //   fetch("./login", {
  //     method: "POST",
  //     headers: { "Content-Type": "application/json" },
  //     body: JSON.stringify(data),
  //   }).then((res) => {
  //     console.log("Request complete! response:", res);
  //     if (res.user.email) {
  //       const email = document.getElementById("email").innerHTML;
  //       console.log(email);
  //       sessionStorage.setItem("email", JSON.stringify(email));
  //     }
  //   });
  // };
</script>
