<%- include('_head') %>

<div class="login-register-container">
  <h1>Register</h1>
  <form action="/register" method="POST">
    <div class="log-div">
      <label for="first_name">First Name</label>
      <input type="text" id="first_name" name="first_name" required />
    </div>
    <div class="log-div">
      <label for="last_name">Last Name</label>
      <input type="text" id="last_name" name="last_name" required />
    </div>
    <div class="log-div">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" required />
    </div>
    <div class="log-div">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required />
    </div>
    <div class="log-div">
      <button type="submit" class="log-btn">Register</button>
    </div>
  </form>
  <a href="/login">Login</a>
</div>
